# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# node_modules folder
/node_modules/
node_modules/

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

#.vscode content
.vscode/
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*